<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am currently a PhD student at University College London.<br/><br/>
</div>

<div>
    I am interested in applying machine learning in the field computational security science and for other social issues, such as climate change.  I am also passionate about improving inclusivity with regards to representation
    in the STEM field and would like to get more involved in this area. Please
    <a href="mailto: kimberly.tran[AT]ucl.ac.uk">get in touch</a>!
</div>