<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am currently an MRes Security Science student at University College London.<br/><br/>
</div>

<div>
    I am interested in tackling social problems from a machine learning perspective. More broadly I am interested in computational security
    science and using artificial intelligence for climate conservation. I am also passionate about improving inclusivity with regards to representation
    in the STEM field and would like to get more involved in this area. Please
    <a href="mailto: k.ton-tranREMOVETHIS@cs.ucl.ac.uk">get in touch</a>!
</div>