<section class="thirteen columns">
  <h1>Media coverage</h1>
  <a
    href="https://www.theguardian.com/technology/2023/aug/02/humans-can-detect-deepfake-speech-only-73-of-the-time-study-finds"
    >[The Guardian]</a
  >
  <a
    href="https://www.newscientist.com/article/2385752-ai-voices-are-hard-to-spot-even-if-you-know-audio-might-be-a-deepfake/?"
    >[New Scientist]</a
  >
  <a
    href="https://www.dailymail.co.uk/sciencetech/article-12365253/Could-spot-deepfake-Scientists-humans-struggle-detect-AI-speech-theyve-trained-look-it.html"
    >[Daily Mail]</a
  >
  <a href="https://nautil.us/is-that-really-your-boss-on-the-phone-358024/"
    >[Nautilus]</a
  >
  <a
    href="https://elpais.com/tecnologia/2023-08-03/los-deepfakes-de-voz-enganan-incluso-cuando-se-prepara-a-la-gente-para-detectarlos.html"
    >[El País]</a
  >
  <a href="https://www.cas.cn/kj/202308/t20230804_4959820.shtml"
    >[Chinese Academy of Sciences]</a
  >
  <a
    href="https://www.foxnews.com/tech/researchers-warn-humans-cannot-reliably-detect-audio-deepfakes-trained"
    >[Fox]</a
  >
  <a href="https://www.bbc.co.uk/programmes/m001pmry">[BBC]</a>
  <a href="https://www.funkidslive.com/podcast/mysteries/">[The Week Junior]</a>
  <a href="https://factcheck.afp.com/doc.afp.com.33Z23M7">[AFP]</a>
  <a href="https://factcheck.afp.com/doc.afp.com.33ZJ8WU">[AFP II]</a>
</section>
