<section class="thirteen columns">
    <h1>News</h1>
    <article>
        <ul>
        <li><strong>June 2022</strong>: Started an internship as a Research Engineer at <a href="https://www.iproov.com/">iProov</a></li>
        <li><strong>October 2021</strong>: Started placement at the Alan Turing Institute</li>
        <li><strong>February 2021</strong>: Presented my research at the Alan Turing Institute for the <a href="https://www.turing.ac.uk/engageturing-students">Engage@Turing Doctoral Showcase</a></li>
        <li><strong>May 2020</strong>: Awarded <a href="https://www.turing.ac.uk/work-turing/studentships/enrichment">Turing Enrichment Scheme</a> placement</li>
        <li><strong>September 2019</strong>: Started PhD at University College London</li>
        </ul>
    </article>
</section>
