<section class="thirteen columns">
    <article>
        <p>
            Hello! &#128075;
            
            I am a PhD researcher at
            <a href="https://www.ucl.ac.uk/">University College London</a>, 
            co-supervised by 
            <a href="http://www.cs.ucl.ac.uk/people/L.Griffin/">Lewis Griffin</a> 
            and <a href="https://www.ucl.ac.uk/jill-dando-institute/about-us/people/academic-staff/toby-davies">Toby Davies</a>.
            I have also been lucky to spend an <a href="https://www.turing.ac.uk/people/enrichment-students/kimberly-ton-mai">Enrichment placement</a>
            at <a href="https://www.turing.ac.uk/">The Alan Turing Institute</a>.
        </p>
        <br />
        <p>
            Prior to starting my PhD, I obtained an MSc in Data Science and Machine Learning from
            University College London and a BSc in Mathematics and Economics from the
            <a href="https://www.lse.ac.uk/">London School of Economics</a>.
        </p>
        <br />
        <p>
        My research is focused on Representation Learning for Anomaly Detection.
        More broadly, I am interested in:
        </p>
        <br />
        <ul>
        <li> &#128270; Out-of-distribution detection </li>
        <li> &#128173; Self-supervised learning </li>
        <li> &#9881;&#65039; Interpretability </li>
        </ul>
    </article>
</section>
