<section class="thirteen columns">
  <h1>Research</h1>
  <article>
    <header>
      <h2>
        Understanding the Limitations of Self-supervised Learning for Tabular
        Anomaly Detection
      </h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Toby Davies, Lewis D. Griffin<br />
      <em>Pattern Analysis and Applications, 2024</em><br />
      <a href="https://link.springer.com/article/10.1007/s10044-023-01208-1"
        >[Paper]</a
      >
    </p>
    <br />
    <header>
      <h2>Warning: Humans Cannot Reliably Detect Speech Deepfakes</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Sergi Bray, Toby Davies, Lewis D.
      Griffin<br />
      <em>PLoS ONE, 2023</em><br />
      <a
        href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0285333"
        >[Paper]</a
      >
    </p>
    <br />
    <header>
      <h2>Large Language Models Respond to Influence Like Humans</h2>
    </header>
    <p>
      Lewis D. Griffin, Bennett Kleinberg, Maximilian Mozes,
      <strong>Kimberly T. Mai</strong>, Maria Vau, Matthew Caldwell, Augustine
      Mavor-Parker<br />
      <em>Workshop on Social Influence in Conversations, ACL, 2023</em><br />
      <a href="https://aclanthology.org/2023.sicon-1.3.pdf">[Paper]</a>
    </p>
    <br />
    <header>
      <h2>Explaining the Decisions of Anomalous Sound Detectors</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Toby Davies, Lewis D. Griffin, Emmanouil
      Benetos<br />
      <em>DCASE, 2022</em><br />
      <a
        href="https://dcase.community/documents/workshop2022/proceedings/DCASE2022Workshop_Mai_2.pdf"
        >[Paper]</a
      >
    </p>
    <br />
    <header>
      <h2>Self-supervised Losses for One-class Textual Anomaly Detection</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Toby Davies, Lewis D. Griffin<br />
      <em>arXiv pre-print, 2022</em><br />
      <a href="https://arxiv.org/pdf/2204.05695.pdf">[Paper]</a>
    </p>
    <br />
    <header>
      <h2>Brittle Features May Help Anomaly Detection</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Toby Davies, Lewis D. Griffin<br />
      <em>Women in Computer Vision Workshop, CVPR, 2021</em><br />
      <a href="https://arxiv.org/abs/2104.10453">[Paper]</a>
    </p>
  </article>
</section>
