<section class="thirteen columns">
  <h1>Research</h1>
  <article>
    <header>
      <h2>Susceptibility to Influence of Large Language Models</h2>
    </header>
    <p>
      Lewis D. Griffin, Bennett Kleinberg, Maximilian Mozes,
      <strong>Kimberly T. Mai</strong>, Maria Vau, Matthew Caldwell, Augustine
      Mavor-Parker<br />
      <em>arXiv pre-print, 2023</em><br />
      <a href="https://arxiv.org/abs/2303.06074">[Paper]</a>
    </p>
    <br />
    <header>
      <h2>Warning: Humans Cannot Reliably Detect Speech Deepfakes</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Sergi Bray, Toby Davies, Lewis D.
      Griffin<br />
      <em>arXiv pre-print, 2023</em><br />
      <a href="https://arxiv.org/abs/2301.07829">[Paper]</a>
    </p>
    <br />
    <header>
      <h2>Explaining the Decisions of Anomalous Sound Detectors</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Toby Davies, Lewis D. Griffin, Emmanouil
      Benetos<br />
      <em>DCASE, 2022</em><br />
      <a
        href="https://dcase.community/documents/workshop2022/proceedings/DCASE2022Workshop_Mai_2.pdf"
        >[Paper]</a
      >
    </p>
    <br />
    <header>
      <h2>Brittle Features May Help Anomaly Detection</h2>
    </header>
    <p>
      <strong>Kimberly T. Mai</strong>, Toby Davies, Lewis D. Griffin<br />
      <em>Women in Computer Vision Workshop, CVPR, 2021</em><br />
      <a href="https://arxiv.org/abs/2104.10453">[Paper]</a>
    </p>
  </article>
</section>
