<section class="thirteen columns">
  <h1>Teaching</h1>
  <article>
    <header>
      <h2>
        Artificial Intelligence for Domain-Specific Applications Project
        Preparation
      </h2>
    </header>
    <p>
      University College London, Teaching Assistant, 2023<br />
      <a href="https://comp0190.github.io/lectures/">[Course notes]</a>
    </p>
    <br />
    <header>
      <h2>Introduction to Machine Learning</h2>
    </header>
    <p>University College London, Teaching Assistant, 2020-2021</p>
  </article>
</section>
